// ブレイクポイントを指定
$pc: 1280px;
$tab: 768px;
$sp: 480px;

//　配色の設定
$mainGreen: #C8F57A;
$subYellow: #FFEF76;
$subWhite: #FFFFFF;
$mainFont: #333333;

// 余白の数値を指定
$mgLarge: 160px;
$mgMedium: 120px;
$mgSmall: 60px;
$mgExtraSmall: 40px;