@use '../base/variables' as var;
@use '../base/mixin' as mix;

.header{
    @include mix.flexbox;
    justify-content: space-between;
    padding: 10px 20px;
    @include mix.boxShadow(0.25);

    @include mix.sp{
        display: block;
    }

    &__nav{
        max-width: 880px;
        width: 100%;
        ul{
            height: 120px;
            @include mix.flexbox;
            justify-content: space-around;
            align-items: center;
            list-style: none;

            li{
                font-size: clamp(18px,2vw,24px);
                @include mix.sp{
                    padding-right: 0;
                }

                &:last-child{
                    height: 60px;
                    padding: 0 54px;
                    line-height: 60px;
                    background: var.$mainGreen;
                    border-radius: 30px;
                }
            }
        }
    }
}